html, body {
    height: 100%;
    max-width: 1200px;
    margin: 2% auto;
    padding: 0;
}

h1 {
    font-size: 2em;
}

.heroImage {
    position: relative;
}

.orange-transparency {
    position: absolute;
    background-color: rgba(0, 247, 255, 0.388);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
}

.inside-image {
    position: absolute;
    bottom: 1em;
}